{
  "presets":[
    ["@babel/preset-env"]
    /* ["@babel/preset-env",{
          "targets":{
            "browsers":[">1%"]
//            "chrome":65
          }
        }]*/
    ]
//    "plugins":["@babel/plugin-transform-runtime"]
}
